<!DOCTYPE html>
<html lang="{$config.language}">
    <head>
        <script src='https://cdn.bootcss.com/socket.io/1.3.7/socket.io.js'></script>
        <!-- 加载样式及META信息 -->
        {include file="common/meta" /}
    </head>
    <body class="hold-transition skin-green sidebar-mini fixed {if $Think.config.fastadmin.multiplenav}multiplenav{/if}" id="tabs">
        <div class="wrapper">

            <!-- 头部区域 -->
            <header id="header" class="main-header">
                {include file='common/header' /}
            </header>

            <!-- 左侧菜单栏 -->
            <aside class="main-sidebar">
                {include file='common/menu' /}
            </aside>

            <!-- 主体内容区域 -->
            <div class="content-wrapper tab-content tab-addtabs">
                {if $fixedmenu}
                <div role="tabpanel" class="tab-pane {:$referermenu?'':'active'}" id="con_{$fixedmenu.id}">
                    <iframe src="{$fixedmenu.url}?addtabs=1" width="100%" height="100%" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling-x="no" scrolling-y="auto" allowtransparency="yes"></iframe>
                </div>
                {/if}
                {if $referermenu}
                <div role="tabpanel" class="tab-pane active" id="con_{$referermenu.id}">
                    <iframe src="{$referermenu.url}?addtabs=1" width="100%" height="100%" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling-x="no" scrolling-y="auto" allowtransparency="yes"></iframe>
                </div>
                {/if}
            </div>

            <!-- 底部链接,默认隐藏 -->
            <footer class="main-footer hide">
                <div class="pull-right hidden-xs">
                </div>
                <strong>Copyright &copy; 2017-2020 <a href="__PUBLIC__">{$site.name}</a>.</strong> All rights reserved.
            </footer>

            <!-- 右侧控制栏 -->
            <div class="control-sidebar-bg"></div>
            {include file="common/control" /}
        </div>

        <!-- 加载JS脚本 -->
        {include file="common/script" /}
        <!--后台提示声-->
        <audio src="/8858.mp3" id="audio" >
            当前浏览器不支持audio
        </audio>
    </body>
</html>
<script>
    var a =  JSON.parse(window.localStorage.getItem('lastlogin'))
    if ( a.id == 1 ){
        // 连接服务端，workerman.net:2120换成实际部署web-msg-sender服务的域名或者ip
        var socket = io('123.56.45.191:2120'); //http://www.tp5_test.com换成自己的域名或者ip
        // uid可以是自己网站的用户id，以便针对uid推送以及统计在线人数，这个ID可以随便写
        uid = 1557062581000;
        // socket连接后以uid登录
        socket.on('connect', function(){
            socket.emit('login', uid);
        });

        socket.on('new_msg', function(msg){
            //播放提示音：
            if(msg){
                var audio = document.getElementById( "audio" ); //浏览器支持 audio
                audio.play(); //播放提示音
                layer.open({
                    type:0,
                    title: '您好!有新消息!',
                    content: msg,
                    anim: 2,
                    shade:0,
                    offset:"rb"
                });
                $(".btn-refresh").trigger('click')
            }
        });
        // 后端推送来在线数据时
        socket.on('update_online_count', function(online_stat){
            console.log(online_stat);
        });
    }
</script>